
#feedback {
    border-style: solid;
    border-width: 1px;
    border-color: #0077FF;
    background-color: white;
    text-align: left;
    width: 80%;
    min-height: 100px;
    float: left;
}

#commentArea {
    background-color: red;
    width: 80%;
    border-style: solid solid none solid;
    border-width: 1px 1px 0px 5px;
    border-color: #0077FF;
    overflow: auto;
}

#like {
    background-color: #f1600c;
    color: white;
}

#title {
    text-align: center;
    background-color: red;
}
